<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="ListSection" type="AflacCommonObjects.ConfigList.ListSection"/>
    </configSections>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <ListSection>

        <ItemList name="CredLocations">
            <Item>{ "Environment":"Development", "EntityType":"Applicant", "CredLocation":"HKEY_LOCAL_MACHINE\\SOFTWARE\\AflacApps\\SecurityToken\\Dev\\Applicant" }</Item>
            <Item>{ "Environment":"Development", "EntityType":"Corporate", "CredLocation":"HKEY_LOCAL_MACHINE\\SOFTWARE\\AflacApps\\SecurityToken\\Dev\\Corporate" }</Item>
            <Item>{ "Environment":"Development", "EntityType":"Customer", "CredLocation":"HKEY_LOCAL_MACHINE\\SOFTWARE\\AflacApps\\SecurityToken\\Dev\\Customer" }</Item>

            <Item>{ "Environment":"Integration", "EntityType":"Applicant", "CredLocation":"HKEY_LOCAL_MACHINE\\SOFTWARE\\AflacApps\\SecurityToken\\Intg\\Applicant" }</Item>
            <Item>{ "Environment":"Integration", "EntityType":"Corporate", "CredLocation":"HKEY_LOCAL_MACHINE\\SOFTWARE\\AflacApps\\SecurityToken\\Intg\\Corporate" }</Item>
            <Item>{ "Environment":"Integration", "EntityType":"Customer", "CredLocation":"HKEY_LOCAL_MACHINE\\SOFTWARE\\AflacApps\\SecurityToken\\Intg\\Customer" }</Item>

            <Item>{ "Environment":"System Test", "EntityType":"Applicant", "CredLocation":"HKEY_LOCAL_MACHINE\\SOFTWARE\\AflacApps\\SecurityToken\\Syst\\Applicant" }</Item>
            <Item>{ "Environment":"System Test", "EntityType":"Corporate", "CredLocation":"HKEY_LOCAL_MACHINE\\SOFTWARE\\AflacApps\\SecurityToken\\Syst\\Corporate" }</Item>
            <Item>{ "Environment":"System Test", "EntityType":"Customer", "CredLocation":"HKEY_LOCAL_MACHINE\\SOFTWARE\\AflacApps\\SecurityToken\\Syst\\Customer" }</Item>

            <Item>{ "Environment":"Production", "EntityType":"Applicant", "CredLocation":"HKEY_LOCAL_MACHINE\\SOFTWARE\\AflacApps\\SecurityToken\\Prod\\Applicant" }</Item>
            <Item>{ "Environment":"Production", "EntityType":"Corporate", "CredLocation":"HKEY_LOCAL_MACHINE\\SOFTWARE\\AflacApps\\SecurityToken\\Prod\\Corporate" }</Item>
            <Item>{ "Environment":"Production", "EntityType":"Customer", "CredLocation":"HKEY_LOCAL_MACHINE\\SOFTWARE\\AflacApps\\SecurityToken\\Prod\\Customer" }</Item>
        </ItemList>

        <ItemList name="Configurations">
            <Item>{ "TokenName":"ASOpenToken", "CookiePath":"/", "CookieDomain":".nt.lab.com", "UseCookie":"true", "UseSunJCE":"false", "TokenLifetime":"32400", "SecureCookie":"false", "SessionCookie":"true", "RenewUntilLifetime":"28800", "ObfuscatePassword":"true", "NotBeforeTolerance":"300" }</Item>
            <Item>{ "TokenName":"ASOpenToken", "CookiePath":"/", "CookieDomain":".nt.lab.com", "UseCookie":"true", "UseSunJCE":"false", "TokenLifetime":"32400", "SecureCookie":"false", "SessionCookie":"true", "RenewUntilLifetime":"28800", "ObfuscatePassword":"true", "NotBeforeTolerance":"300" }</Item>
            <Item>{ "TokenName":"ASOpenToken", "CookiePath":"/", "CookieDomain":".hq.aflac.com", "UseCookie":"true", "UseSunJCE":"false", "TokenLifetime":"32400", "SecureCookie":"false", "SessionCookie":"true", "RenewUntilLifetime":"28800", "ObfuscatePassword":"true", "NotBeforeTolerance":"300" }</Item>
            <Item>{ "TokenName":"ASOpenToken", "CookiePath":"/", "CookieDomain":".hq.aflac.com", "UseCookie":"true", "UseSunJCE":"false", "TokenLifetime":"32400", "SecureCookie":"false", "SessionCookie":"true", "RenewUntilLifetime":"28800", "ObfuscatePassword":"true", "NotBeforeTolerance":"300" }</Item>
        </ItemList>

    </ListSection>
</configuration>