<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>

        <!-- Applicant -->

        <add key="Applicant_AddedProperties0" value="DN"/>
        <add key="Applicant_AddedProperties1" value="UID"/>
        <add key="Applicant_AddedProperties2" value="ProfileType"/>
        <add key="Applicant_AddedProperties3" value="DisplayName"/>
        <add key="Applicant_AddedProperties4" value="AflacUserGuid"/>
        <add key="Applicant_AddedProperties5" value="WhenCreated"/>

        <add key="Applicant_CookiePath" value="/"/>
        <add key="Applicant_UseCookie" value="true"/>
        <add key="Applicant_UseSunJCE" value="false"/>
        <!-- 10 Minutes -->
        <add key="Applicant_TokenLifetime" value="600"/>
        <add key="Applicant_SecureCookie" value="false"/>
        <add key="Applicant_SessionCookie" value="true"/>
        <add key="Applicant_Authenticated" value="false"/>
        <!-- 9.5 Minutes -->
        <add key="Applicant_TokenRenewUntil" value="570"/>
        <add key="Applicant_NotBeforeTolerance" value="300"/>
        <add key="Applicant_ObfuscatePassword" value="true"/>
        <add key="Applicant_CookieDomain" value=".nt.lab.com"/>
        <add key="Applicant_CookieName" value="ApplicantToken"/>

        <add key="Applicant_OU" value="OU=Applicants"/>

        <!-- Customer -->

        <add key="Customer_AddedProperties0" value="DN"/>
        <add key="Customer_AddedProperties1" value="UID"/>
        <add key="Customer_AddedProperties2" value="ProfileType"/>
        <add key="Customer_AddedProperties3" value="DisplayName"/>
        <add key="Customer_AddedProperties4" value="AflacUserGuid"/>
        <add key="Customer_AddedProperties5" value="WhenCreated"/>
        <add key="Customer_AddedProperties6" value="Emulated"/>

        <add key="Customer_CookiePath" value="/"/>
        <add key="Customer_UseCookie" value="true"/>
        <add key="Customer_UseSunJCE" value="false"/>
        <!-- 15 Minutes -->
        <add key="Customer_TokenLifetime" value="600"/>
        <add key="Customer_Authenticated" value="true"/>
        <add key="Customer_SecureCookie" value="false"/>
        <add key="Customer_SessionCookie" value="true"/>
        <!-- 14.5 Minutes -->
        <add key="Customer_TokenRenewUntil" value="870"/>
        <add key="Customer_NotBeforeTolerance" value="300"/>
        <add key="Customer_ObfuscatePassword" value="true"/>
        <add key="Customer_CookieDomain" value=".nt.lab.com"/>
        <add key="Customer_CookieName" value="PolicyHolderToken"/>

        <add key="Customer_OU" value="OU=Users"/>

        <!-- Corporate -->

        <add key="Corporate_AddedProperties0" value="DN"/>
        <add key="Corporate_AddedProperties1" value="UID"/>
        <add key="Corporate_AddedProperties2" value="AuthSource"/>
        <add key="Corporate_AddedProperties3" value="ProfileType"/>
        <add key="Corporate_AddedProperties4" value="DisplayName"/>
        <add key="Corporate_AddedProperties5" value="EntityLinks"/>
        <add key="Corporate_AddedProperties6" value="AflacUserGuid"/>
        <add key="Corporate_AddedProperties7" value="aflacBadPasswordCount"/>
        <add key="Corporate_AddedProperties8" value="Emulated"/>
        <add key="Corporate_AddedProperties9" value="aflacMultiFactorEnabled|True"/>

        <add key="Corporate_CookiePath" value="/"/>
        <add key="Corporate_UseCookie" value="true"/>
        <add key="Corporate_UseSunJCE" value="false"/>
        <add key="Corporate_Authenticated" value="true"/>
        <add key="Corporate_SecureCookie" value="false"/>
        <add key="Corporate_SessionCookie" value="true"/>
        <add key="Corporate_TokenLifetime" value="32400"/>
        <!-- 9 Hours -->
        <add key="Corporate_TokenRenewUntil" value="28800"/>
        <!-- 8 Hours -->
        <add key="Corporate_NotBeforeTolerance" value="300"/>
        <add key="Corporate_ObfuscatePassword" value="true"/>
        <add key="Corporate_CookieName" value="ASopentoken"/>
        <add key="Corporate_CookieDomain" value=".nt.lab.com"/>

        <add key="Corporate_OU" value="OU=People"/>

        <!--
            These sections are common to all current Token Types
        -->

        <add key="SystemAttr0" value="not-before"/>
        <add key="SystemAttr1" value="renew-until"/>
        <add key="SystemAttr2" value="not-on-or-after"/>

        <add key="EventSource" value="AflacOpenToken"/>
        <add key="LinkSearchAttribute" value="distinguishedName"/>

        <add key="PADSecure" value="53390"/>
        <add key="PADDomain" value="/DC=aflac,dc=pad"/>
        <add key="PADSearchRoot" value="DC=aflac,dc=pad"/>
        <add key="PADServer" value="LDAP://pad-dev.nt.lab.com:53389"/>
        <add key="PADServerDirect" value="LDAP://padrw-dev.nt.lab.com:53389"/>

        <add key="EADSecure" value="51390"/>
        <add key="EADDomain" value="/dc=aflac,dc=ead"/>
        <add key="EADSearchRoot" value="DC=aflac,dc=ead"/>
        <add key="EADServer" value="LDAP://ead-dev.nt.lab.com:51389"/>
        <add key="EADServerDirect" value="LDAP://eadrw-dev.nt.lab.com:51389"/>

        <add key="Credentials" value="HKEY_LOCAL_MACHINE\SOFTWARE\AflacApps\SecurityToken\Dev\{0}"/>

        <add key="Users_AuthSource" value="NOT SET"/>
        <add key="Vendors_AuthSource" value="AFLHQ"/>
        <add key="Employees_AuthSource" value="AFLHQ"/>
        <add key="PolicyHolder_AuthSource" value="NOT SET"/>
        <add key="ServiceAccounts_AuthSource" value="NOT SET"/>
        <add key="Lobbyists_AuthSource" value="afl_lobbyists"/>
        <add key="Associates_AuthSource" value="afl_associates"/>
        <add key="Brokerages_AuthSource" value="afl_associates"/>
        <add key="BrokerUsers_AuthSource" value="afl_associates"/>
        <add key="ExternalAppDevelopers_AuthSource" value="NOT SET"/>
        <add key="OfficeAdmins_AuthSource" value="asc_officeadmins"/>
        <add key="BillingAccountUsers_AuthSource" value="bill_acct_users"/>
        <add key="DeactivatedAssociates_AuthSource" value="afl_associates"/>

    </appSettings>
</configuration>