<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="ListSection" type="AflacCommonObjects.ConfigList.ListSection"/>
    </configSections>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>

    <ListSection>

        <JSONList name="StoreNames">
            <Item>{ "Name":"Root", "storeName":"Root" }</Item>
            <Item>{ "Name":"Personal (My)", "storeName":"My" }</Item>
            <Item>{ "Name":"Trusted Root", "storeName":"AuthRoot" }</Item>
            <Item>{ "Name":"Disallowed", "storeName":"Disallowed" }</Item>
            <Item>{ "Name":"Address Book", "storeName":"AddressBook" }</Item>
            <Item>{ "Name":"Cert Auth", "storeName":"CertificateAuthority" }</Item>
            <Item>{ "Name":"Trusted Publisher", "storeName":"TrustedPublisher" }</Item>
        </JSONList>

        <JSONList name="SearchTypes">
            <Item>{ "Name":"Thumbprint", "searchType":"FindByThumbprint"}</Item>
            <Item>{ "Name":"Issuer Name", "searchType":"FindByIssuerName"}</Item>
            <Item>{ "Name":"Subject Name", "searchType":"FindBySubjectName"}</Item>
            <Item>{ "Name":"Serial Number", "searchType":"FindBySerialNumber"}</Item>
        </JSONList>

        <JSONList name="StoreLocations">
            <Item>{ "Name":"Current User", "storeLocation":"CurrentUser"}</Item>
            <Item>{ "Name":"Local Computer", "storeLocation":"LocalMachine"}</Item>
        </JSONList>
        
    </ListSection>
</configuration>
