<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AflacCommonObjects" version="3.5.7971.28728" targetFramework="net472" />
  <package id="AntiXSS" version="4.3.0" targetFramework="net472" />
  <package id="HashTool_Lib" version="1.0.7936.27210" targetFramework="net472" />
  <package id="JoeWare_Lib" version="1.0.6395.26829" targetFramework="net461" />
</packages>